@font-face {
    font-family: "Handlee";
    src: url('../fonts/Handlee/Handlee-Regular.ttf') format("truetype");
  }

  @font-face {
    font-family: "Oxygen_Mono";
    src: url('../fonts/Oxygen_Mono/OxygenMono-Regular.ttf') format("truetype");
  }

  @font-face {
    font-family: "Bungee_Inline";
    src: url('../fonts/Bungee_Inline/BungeeInline-Regular.ttf') format("truetype");
  }

  @font-face {
    font-family: "Abril_Fatface";
    src: url('../fonts/Abril_Fatface/AbrilFatface-Regular.ttf') format("truetype");
  }

  body {
    font-family: "Abril_Fatface", cursive;
    font-size: 20px;
}

#turtleHeader  { 
    font-family: "Handlee";
 }

#editor { 
    font-family: "Oxygen_Mono";
    font-weight: 400;
    font-size: 20px;
 }

 html,
 body {
     height: 100%;
     padding: 0px;
     margin: 0px;
 }

 /*
 See https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space
 for making row fillup the container
 */
 .box {
    display: flex;
    flex-flow: column;
    height: 100%;
  }
  
  .box .row {
    border: 1px dotted grey;
  }
  
  .box .row.header {
    border: 0;
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
  }
  
  .box .row.content {
    flex: 1 1 auto;
    border: 0;
  }
  
  .box .row.footer {
    flex: 0 1 40px;
    border: 0;
  }