html {
  font-size: 13px;
  height: 100%;
  min-height: 700px;
}

body {
  overflow: hidden;
}
/* a {
  color: #00B7FF;
} */

.toolbar {
  background: gainsboro;
}

.statusbar {
  background: gainsboro;
}

/* #turtle_canvas {
  border: 1px solid coral;
} */

#turtle_code {
  width: 100%; 
  height: 100%; 
}

.name-li {
  background: black;
  margin: 1px;
  padding: 5px;
  cursor: pointer;
}

.name-li.selected {
  background: dimgray;
}

#turtle_list {
  list-style-type: none;
  margin: 1px;
  padding: 1px;
}

#object_code {
  font-family: monospace;
  max-height: 800px;
  overflow-y: auto;
  overflow-x: visible;
  color: red;
  font-size: 0.85em;
}

.header {
  text-align: center;
  /* border-bottom: 1px solid lightgray; */
  margin: 2px;
  padding: 1px;
}

#turtle_toolbar_container {
  flex: 2%;
}

#turtle_canvas_container {
  flex: 70%;
  max-height: 87%;
}

#turtle_console_container {
  flex: 20%;
  max-height: 20%;
  overflow-y: auto;
}

html, body, div {
  box-sizing: border-box;
}

#homelink {
  cursor: pointer;
}

.statusbar-item {
  border-style: inset;
  border-color: silver;
  border-width: 2px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 0px;
  margin-right: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-check {
  font-size: 0.75rem;
}

#turtle_console {
  list-style: none;
}