.main_window {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-rows: 24px calc(100vh - 48px) 24px;
    overflow: hidden;
  }

  .toolbar_container {
    margin: 0px;
    padding: 2px;
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 4fr;
    width: 100%;
  }

  .main_tools {
    margin: 0px;
    padding: 0px;
    height: 24px;
  }

  .lang_select_tools {
    margin: 0px;
    padding: 0px;
    height: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .example_select_tools {
    margin: 0px;
    padding: 0px;
    height: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #editor_language_select {
    margin: 0px;
    padding: 0px;
    height: 24px;
  }

  .util_tools {
    text-align: right;
  }

  .main_container {
    margin: 0px;
    padding: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    resize: both;
  }

  .statusbar_container {
    margin: 0px;
    padding: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .turtle_code_container {
    height: 100%;
  }

  #turtle_code {
    height: 100%;
    resize: both;
  }

  #turtle_toolbar_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
